@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
body{
  background-color: #FAF0E6;
}
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  background-color: #352F44; /* Background color for the navbar */
  color: white; /* Text color for the links and text */
  padding: 10px 20px; /* Adjusted padding for top and bottom */
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 2px solid #f2f2f2; /* Slightly thicker border */
}

.navbar h1 {
  color: white; /* Text color for the heading */
  font-size: 24px; /* Increased font size for the heading */
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  text-decoration: none;
  color: white; /* Text color for links */
  margin-left: 20px; /* Increased margin between links */
  padding: 6px 10px; /* Adjusted padding for links */
  border-radius: 5px; /* Rounded corners for links */
  background-color: #4D4861; /* Background color for links */
  transition: background-color 0.3s; /* Smooth hover effect */
}

.navbar a:hover {
  background-color: #6B6592; /* Background color on hover */
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* Blog Previews */

.blog-preview{
  padding:10px 16px ;
  margin:20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover{
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #352F44;
  margin-bottom: 8px;
}

/* loading preview */

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #352F44; /* Spinner color */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
